@media screen and (max-width: 75em) {
    .side-navigation {
        display: none;
    }

    .content-item {
        width: 85%;
    }
}

@media screen and (max-width: 100em) {
    .side-navigation {
        width: 20%;
    }

    
}